.el-container {
  margin-top: 80px;
}

.el-carousel--card {
  margin: 0 auto;
  width: 100%;
  min-width: 800px;
}

.el-loading-mask {
  position: fixed;
}

.responseImg {
  display: inline-block;
  height: 200px;
  width: 200px;
  background: url("/static/images/OA_load.gif") no-repeat;
  background-size: 100%;
}

.el-loading-spinner .el-loading-text {
  margin-top: -100px;
  font-size: 16px;
}

.el-breadcrumb__inner.is-link {
  color: #ffffff;
  font-size: 16px;
}

.Home .el-breadcrumb__item .el-breadcrumb__inner {
  color: #ffffff;
  font-size: 16px;
}

.Home .el-breadcrumb__item .el-breadcrumb__inner:hover {
  color: #ffffff;
}

.Home .el-breadcrumb__separator.el-icon-arrow-right {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.Home .el-menu {
  border-right: 0;
}

.el-icon-document {
  display: none;
}

.my-gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.my-gallery figure {
  margin: 5px;
}

.my-gallery img {
  width: 200px;
  height: 200px;
  margin: 10px;
}
